.commentContainer {
  display: inline-block;
  position: absolute;
  font-size: 2em;
  height: 20px;
  width: calc(2em * 140);
}

.commentContainer > span {
  height: 20px;
  width: calc(2em * 140);
}